.checklist-input-1:after {
	background-position: 7px 7px !important;
}
.checklist-input-0:after {
	background-position: 0px 0px !important;
	background-image: none !important;
}

.table-hover {
	.btn.btn-primary {
		float: right;
		margin-right: 20px;
	}
}